.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}

.enable-notifications  {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
.modal-show {
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  opacity: 1 !important;
  visibility: inherit !important;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  opacity: 0;
  visibility: hidden;
  height: 250px;
  width: 500px;
  display: block;
  margin: auto;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: rgb(255, 64, 129) !important;
  border-radius: 2px;
  color: white;
}

.modal-close {
  position: relative;
  left: 230px;
  top: 7px;
  outline: none;
  appearance: none;
  color: white;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

.img-logo {
  width: 35px;
}

.mdl-layout-title {
  padding-left: 10px;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container {
  position: relative;
  width: 600px;
  margin: 30px auto 0;
  height: 320px;
  background-color: #4050b5;
  top: 40%;
  margin-top: -160px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .box:before,
.container .box:after {
  content: " ";
  position: absolute;
  left: 152px;
  top: 50px;
  background-color: #6890ee5e;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  width: 300px;
  height: 285px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .box:after {
  background-color: #6890ee5e;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}
.container .container-forms {
  position: relative;
}
.container .btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 60px;
  color: #fff;
  background-color: rgb(255, 64, 129) !important;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.container .btn:hover {
  opacity: 0.7;
}
.container .btn,
.container input {
  padding: 10px 15px;
}
.container input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .container-forms .container-info {
  text-align: left;
  font-size: 0;
}
.container .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container .container-forms .container-info .info-item p {
  font-size: 20px;
  margin: 20px;
}
.container .container-forms .container-info .info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
}
.container .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}
.container
  .container-forms
  .container-info
  .info-item:nth-child(2)
  .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.container .container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form:before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  color: #5356ad;
  font-size: 130px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .container-form .btn {
  position: relative;
  /* box-shadow: 0 0 10px 1px #ff73b3; */
  margin-top: 30px;
}
.container .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container.log-in .box:before {
  position: absolute;
  left: 180px;
  top: 62px;
  height: 265px;
}
.container.log-in .box:after {
  top: 22px;
  left: 192px;
  width: 324px;
  height: 220px;
}
.container.log-in .container-form {
  left: 265px;
}
.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}
.container.active {
  width: 260px;
  height: 140px;
  margin-top: -70px;
}
.container.active .container-form {
  left: 30px;
  width: 200px;
  height: 200px;
}
.container.active .container-form:before {
  content: "✔";
  position: absolute;
  left: 51px;
  top: 5px;
  color: #5356ad;
  font-size: 130px;
  opacity: 1;
}
.container.active input,
.container.active .btn,
.container.active .info-item {
  display: none;
  opacity: 0;
  padding: 0px;
  margin: 0 auto;
  height: 0;
}
.container.active .form-item {
  height: 100%;
}
.container.active .container-forms .container-info .info-item {
  height: 0%;
  opacity: 0;
}

.rabbit {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}

.btn-submit {
  margin: auto;
  display: block;
  padding-bottom: 20px;
}


.user_profile_card {
  margin-top: 30px;
  margin-left: 10px;
  background-color: #ed2939d6;
  border-radius: 16px;
  display: flex;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.circle_decor1{
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: #FFF0;
    border-radius: 0 0 0 100%;
    border: 3px solid #b4ffe61c;
    border-top: 0;
    border-right: 0;
    right: 0px;
    top: 0px;
}
.circle_decor2{
    position: absolute;
    width: 50px;
    height: 60px;
    background-color: #FFF0;
    border-radius: 0 0 0 100%;
    border: 3px solid #b4ffe617;
    border-top: 0;
    border-right: 0;
    right: 0px;
    top: 0px;
}
.circle_decor3{
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: #FFF0;
    border-radius: 0 0 0 100%;
    border: 3px solid #b4ffe61a;
    border-top: 0;
    border-right: 0;
    right: 0px;
    top: 0px;
}
.user_profile_card .user_profile_img {
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    width: 80px;
    height: 80px;
    /* margin: 5px auto 10px auto; */
}
.user_profile_card .user_profile_img img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-top: 8px;
}
.user_details{
    text-align: left;
    padding: 8px 0 10px 10px;
}
.user_details .user_profile_name h5{
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
    margin: 10px 0 10px 0;
}
.user_details .user_profile_userID h5{
    font-size: 14px;
    color: #a1fadc;
    margin: 0 0 10px 0;
}
.user_details .user_profile_userID h5 span{
    font-weight: 400;
    color: #ffffff;
}
.user_details .user_profile_mail h5{
    font-size: 14px;
    font-weight: 400;
    color: #b6ffe7;
    margin-bottom: 14px;
    margin: 0 0 10px 0;
}
.user_details .user_designation h5{
    font-size: 12px;
    background-color: #c3ffeb;
    color: #00885a;
    padding: 2px 8px;
    border-radius: 12px;
    display: inline;
}

.box-body {
  width: 600px;
  margin: auto;
}

.mdl-layout__header {
  background-color: #082dcb !important;
}

@media only screen and (max-width: 550px) {
  .user_profile_card {
    width: 405px;
  }
  .user_profile_card {
    margin-top: 16px;
  }
  .user_details .user_profile_name h5 {
    font-size: 15px;
  }
  .user_details .user_profile_userID h5  {
    font-size: 12px;
  }
  .user_details .user_profile_mail h5 {
    font-size: 12px;
  }
  .user_profile_card .user_profile_img {
    width: 45px;
    height: 45px;
  }
  .user_profile_card .user_profile_img img {
    width: 40px;
    height: 40px;
    margin-top: 3px;
  }
}
@media only screen and (max-width: 380px) {
  .user_profile_card {
    width: 355px;
  }
}
@media only screen and (max-width: 320px) {
  .user_profile_card {
    width: 300px;
  }
}
@media only screen and (max-width: 320px) {
  .user_profile_card {
    width: 300px;
  }
}
@media only screen and (max-width: 300px) {
  .user_profile_card {
    width: 272px;
  }
}
